@import "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @blue;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #f8f9fa;
}

li {
  &.nav-item {
    &.active {
      background-color: @blue;
    }
  }
}

.navbar {
  padding: 0;
}

.navbar-light {
  .navbar-nav {
    .active {
      & > .nav-link {
        color: #fff;
      }
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1.5px solid @blue;
  margin: 1em 0;
  padding: 0;
}

footer {
  margin-top: 50px;

  .container {
    background-color: @grey;
    color: #fff;
  }
}

.size {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.section-img-cardio-border {
  border: 2px solid @red;
}

.section-img-fitness-border {
  border: 2px solid @blue;
}

.section-img-zumba-border {
  border: 2px solid @yellow;
}

.section-img-bootcamp-border {
  border: 2px solid @green;
}

.section-img-cardio-background {
  background-color: @red;
}

.section-img-fitness-background {
  background-color: @blue;
}

.section-img-zumba-background {
  background-color: @yellow;
}

.section-img-bootcamp-background {
  background-color: @green;
}
