h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2A74BF;
}
* {
  box-sizing: border-box;
}
header {
  background-color: #f8f9fa;
}
li.nav-item.active {
  background-color: #2A74BF;
}
.navbar {
  padding: 0;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1.5px solid #2A74BF;
  margin: 1em 0;
  padding: 0;
}
footer {
  margin-top: 50px;
}
footer .container {
  background-color: #666;
  color: #fff;
}
.size {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.caption {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}
.section-img-cardio-border {
  border: 2px solid #D7514C;
}
.section-img-fitness-border {
  border: 2px solid #2A74BF;
}
.section-img-zumba-border {
  border: 2px solid #D8C11D;
}
.section-img-bootcamp-border {
  border: 2px solid #4D944B;
}
.section-img-cardio-background {
  background-color: #D7514C;
}
.section-img-fitness-background {
  background-color: #2A74BF;
}
.section-img-zumba-background {
  background-color: #D8C11D;
}
.section-img-bootcamp-background {
  background-color: #4D944B;
}
