#root {
    margin: 0 auto;
    width: 40vw;
    text-align: center;
}

ul li {
    list-style: none;
    /* display: flex;
    justify-content: center; */
    margin-top: 30px;
}

.remove{
    border: 0;
    background: none;
    float: right;
    clear: both;
}

.check{
    border: 0;
    background: none;
    float: left;
}

#add {
    border-radius: 10px;
    width: 15vw;
    font-size: 2vw;
    cursor: pointer;
}

p {
    font-size: 2vw;
}